<div class="container">
  <h1>Whats the name of your cocktail?</h1>
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.input :alcoholic %>
  <%= f.submit %>
<% end %>
</div>
<div class="container"></div>
