<div class="container">
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.input :alcoholic %>
  <%= f.submit %>
<% end %>
</div>
<div style="padding: 200px;"></div>
