<%= render 'shared/show_banner', cocktail_within: @cocktail %>
<div class="container">
  <div class="modal-body row">
    <div class="col-md-6">
      <%= cl_image_tag @cocktail.photo.key, width: 400, crop: :fill %>
    </div>
    <div class="col-md-6">

      <%= render 'shared/table', cocktail_within: @cocktail %>
      <br>
      <h2>Instructions:</h2>
      <p><%=@cocktail.description%></p>
      <h3>Glass Type</h3>
      <p><%=@cocktail.glass%></p>
      <br>
      <% if @cocktail.alcoholic == true%>
        <p><%= "Alcoholic" %></p>
      <% else %>
        <p><%= "Non-Alcoholic" %></p>
      <% end %>
    </div>
    <div class="container">
      <h2>Rate this cocktail!</h2>
        <%= simple_form_for([@cocktail, @rating]) do |f| %>
          <%= f.input :ratings, as: :radio_buttons, collection: [['0', 'female'], ['1', 'male']], label_method: :second, value_method: :first %>
          <%= f.submit %>
        <% end %>
    </div>

  </div>

</div>
