<%= render 'shared/banner_cocktail', cocktail_within: @cocktail %>
<%= render 'shared/new_cocktail_alert' %>
<div class="container">
  <div class="modal-body row">
    <div class="col-md-6" id="left_side">
      <div id="cocktail_img_wrapper">
        <% if @cocktail.photo.attached? %>
          <%=cl_image_tag @cocktail.photo.key, width: 700, crop: :fill, id: 'main_img' %>
        <% else %>
          <p style="font-size: 40px; text-align: right; text-decoration: underline;"><%= "Upload a picture" %></p>
        <% end %>
        <!-- Cocktail Rating -->
        <%= render 'shared/cocktail_rating' %>
        <!-- Edit Photo Modal Button -->
        <div id="img_button_edit"class="mt-2 d-flex">
          <button type="button" style=" border: none; background-color: #f4f4f400;" class="d-flex" data-toggle="modal" data-target="#editPhotoModal">
            <div class="edit_button_border">
              <%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1603877849/Mr%20Cocktail%20icons/photo_2_biwa3l.svg", class: "edit_button_img", alt: "alttext" %>
              <p>
                Edit
              </p>
            </div>
          </button>
        </div>
      </div>
    </div>
    <!-- Edit Photo Modal -->
    <%= render 'shared/modals/edit_photo_modal' %>
    <div id="right_side" class="col-md-6">
      <%= render 'shared/cocktail_ingredients_table', cocktail_within: @cocktail %>
      <%= render 'shared/cocktail_information_table', cocktail_within: @cocktail %>
    </div>
  </div>
  <%= render 'shared/similar_cocktails', @similar %>
</div>

