<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%= render 'shared/show_banner', cocktail_within: @cocktail %>

<% if params[:new] == 'creation' %>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">
      Well done!
    </h4>
    <p>
      Aww yeah, you successfully read this important alert message. ADD DOSES AND EDIT STUFF!
    </p>
    <hr>
    <p class="mb-0">
      Whenever you need to, be sure to use margin utilities to keep things nice and tidy.
    </p>
  </div>
<% end %>

<div class="container">
  <div class="modal-body row">
    <div class="col-md-6" id="left_side">
      <div id="img_button">
        <%= cl_image_tag @cocktail.photo.key, width: 700, crop: :fill, id: 'main_img', style: "width: 100%" if @cocktail.photo.attached? %>
        <div style="margin-left: 135px;">
          <div class="container d-flex">
            <%= simple_form_for([@cocktail, @rating], html: { class: "review_form" }) do |f| %>
            <%= f.input :rating, label: false, collection: (1..5).to_a %>
            <% end %>
            <h4 style="margin-top: 20px;">
              <%= @cocktail.ratings.average("rating").nil? ? "0" : @cocktail.ratings.average("rating").round(2) %>
            </h4>
          </div>
        </div>
        <!-- Edit Photo Modal Button -->
        <div id="img_button_edit"class="title_and_edit_button mt-2 d-flex">
          <button type="button" style=" border: none; background-color: #f4f4f400;" class="edit-img d-flex" data-toggle="modal" data-target="#editPhotoModal">
            <div id="edit-button-border">
              <%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1603877849/Mr%20Cocktail%20icons/photo_2_biwa3l.svg", class: "edit-button-img", alt: "alttext" %>
              <p>
                Edit
              </p>
            </div>
          </button>
        </div>
      </div>
    </div>
    <!-- Edit Photo Modal -->
    <div class="modal fade" id="editPhotoModal" tabindex="-1" role="dialog" aria-labelledby="editPhotoModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editPhotoModalLabel">
              Update Image
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
            </button>
          </div>
          <div class="modal-body">
            <%= cl_image_tag @cocktail.photo.key, width: 700, crop: :fill, style: "width: 100%;", class: "pb-4" if @cocktail.photo.attached? %>
            <%= simple_form_for(@cocktail) do |f| %>
              <%= f.input :photo, label: false %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Update Photo', class: "btn btn-primary"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="right_side" class="col-md-6">
      <%= render 'shared/table', cocktail_within: @cocktail %>
      <%= render 'shared/table_infos', cocktail_within: @cocktail %>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
</div>

 <script type="text/javascript">
  $(function() {
    $('#rating_rating').barrating({
      theme: 'css-stars',
      initialRating: '<%= @cocktail.ratings.average("rating").to_i %>',
      onSelect: (value, text, event) => {
        const form = $("form.review_form"); // We are selecting the form on the page with its class
        form.submit(); // We submit the form with javascript
      }
    });
  });
</script>

