<%= render 'shared/show_banner', cocktail_within: @cocktail %>
<div class="container">
  <div class="modal-body row">
    <div class="col-md-6">
      <%= cl_image_tag @cocktail.photo.key, width: 400, crop: :fill %>
    </div>
    <div class="col-md-6">

      <%= render 'shared/table', cocktail_within: @cocktail %>
      <h2>Instructions:</h2>
      <p><%=@cocktail.description%></p>
      <p><%=@cocktail.glass%></p>
      <p><%=@cocktail.alcoholic%></p>
    </div>

  </div>

</div>
