<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%= render 'shared/show_banner', cocktail_within: @cocktail %>
<% if params[:new] == 'creation' %>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. ADD DOSES AND EDIT STUFF!</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
<% end %>
<div class="container">
  <div class="modal-body row">
    <div class="col-md-6">
      <%= cl_image_tag @cocktail.photo.key, width: 400, crop: :fill, id: 'main_img' %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalPhoto">
        Edit Photo
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalPhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalPhotoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalPhotoLabel">Modal title</h5>
              <%= cl_image_tag @cocktail.photo.key, width: 400, crop: :fill %>
              <%= simple_form_for(@cocktail) do |f| %>
                <%= f.input :photo %>
                <%= f.submit 'Update Photo'%>
              <% end %>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <%= render 'shared/table', cocktail_within: @cocktail %>
      <br>
      <h2>Instructions:</h2>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Edit Info
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <%= simple_form_for(@cocktail) do |f| %>
                <%= f.input :description %>
                <%= f.input :glass %>
                <%= f.input :alcoholic %>
                <%= f.submit 'Update Info' %>
              <% end %>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <p><%=@cocktail.description%></p>
      <h3>Glass Type</h3>

      <p><%=@cocktail.glass%></p>
      <p>Ratings</p>
      <%= @cocktail.ratings.average("rating") %>
      <br>
      <% if @cocktail.alcoholic == true%>
      <p><%= "Alcoholic" %></p>
      <% else %>
      <p><%= "Non-Alcoholic" %></p>
      <% end %>
    </div>

    <div class="container">
      <h2>Rate this cocktail!</h2>
      <%= simple_form_for([@cocktail, @rating]) do |f| %>
      <%= f.input :rating, as: :radio_buttons, collection: [['1', 'one'],
      ['2', 'two'],
      ['3', 'three'],
      ['4', 'four'],
      ['5', 'five']], label_method: :second, value_method: :first %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
