<div class="container">
  <a style="text-decoration: none;" href="<%="/cocktails/#{cocktail_within.id}" %>">

  </a>
</div>
  <div class="card-product">
    <%= cl_image_tag cocktail_within.photo.key, width: 400, crop: :fill, id: 'main_img' %>
    <div class="card-product-infos">
      <tbody>
        <tr>
          <th scope="row"> </th>
          <td class="list_name"> <%= cocktail_within.name %> </td>
          <td class="list_glass"> <%= cocktail_within.glass %> </td>
          <td class="list_rating"> <%= cocktail_within.ratings.average("rating") %> </td>
          <td class="list_alcoholic"> <%= cocktail_within.alcoholic %> </td>
          <td class="list_ingredient"> </td>
          <% cocktail_within.ingredients.each do |ing| %>
          <td> <%= ing.name%>, </td>
          <% end %>
          <td> <%= cocktail_within.glass %> </td>
        </tr>
      </tbody>
      <!-- <h2>Product name</h2> -->
      <!-- <p>Product description with <strong>relevant info</strong> only.</p> -->
    </div>
  </div>
