<table class="table" style="margin: 0;">
  <tr>
    <th class="d-flex justify-content-between">
    <div class="d-flex">
      <h2 style="font-size: 37px; margin: 0px;">
        Instructions
      </h2>
      <button type="button" style=" border: none; background-color: #f4f4f400;" class="d-flex" data-toggle="modal" data-target="#edit_cocktail_information">
        <div class="edit_button_border">
        <%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1603653847/Mr%20Cocktail%20icons/edit_rfn5xg.svg",
                       class: "edit_button_img", alt: "alttext" %>
        <p>
          Edit
        </p>
        </div>
      </button>
    </div>
    </th>
    <!-- Edit Cocktail Information Modal -->
    <%= render 'shared/modals/edit_cocktail_information_modal' %>
  </tr>
  <tbody>
    <tr>
      <td class="table_highlight">
        <%= cocktail_within.description %>
      </td>
    </tr>
  </tbody>
</table>
<table class="table">
  <thead>
    <tr>
      <th>Glass Type</th>
      <th>Contains Alcohol</th>
    </tr>
  </thead>
  <tr>
    <td class="table_highlight"><%= cocktail_within.glass %></td>
    <% if @cocktail.alcoholic == true%>
      <td class="table_highlight"><%= "Yes" %></td>
    <% else %>
      <td class="table_highlight"><%= "No" %></td>
    <% end %>
  </tr>
</table>
