<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1603652990/cocktails_rknagu.svg", id: "nav_logo" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= render 'shared/search_bar'%>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="nav-item active">
      </div>
      <div class="nav-item">
        <%= link_to "/cocktails/new", class: "navbar-brand nav-link" do %>
        <%= "New Cocktail" %><%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1603657228/Mr%20Cocktail%20icons/shaker_ieoznh.svg", id: "new_cocktail_nav" %>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </div>
      </li>
    </ul>
  </div>
</div>
