<div class="navbar-expand-sm navbar-lewagon" style="position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;">
  <!-- Top Cocktails -->
  <div id="logo_border">
    <%= link_to "/?top=cocktails", class: "navbar-brand nav-link d-flex", id:"home_logo" do %>
      <%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1603652990/Mr%20Cocktail%20icons/cocktails_rknagu.svg",
                     id: "top_cocktails_icon" %>
    <p>Top Cocktails</p>
    <% end %>
  </div>
  <!-- Search Bar -->
  <%= render 'shared/search_bar'%>
  <!-- New Cocktail -->
  <div id="new_cocktail_border">
    <button type="button" class="navbar-brand nav-link d-flex" data-toggle="modal" data-target="#NewCocktailModal">
      <%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1603657228/Mr%20Cocktail%20icons/shaker_ieoznh.svg",
                     id: "new_cocktail_icon" %>
      <p>New Cocktail</p>
    </button>
  </div>
  <!-- New Cocktail Modal -->
  <%= render 'shared/modals/new_cocktail_modal' %>
</div>
