<div class="banner" style="background-image: linear-gradient(rgba(32,0,0,0.6),rgba(0,0,0,0.4)), url(<%= cl_image_path(cocktail_within.photo.key) if cocktail_within.photo.attached? %>);">
  <div class="container">
    <h1><%= cocktail_within.name %></h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalName">
      Edit name
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalName" tabindex="-1" role="dialog" aria-labelledby="exampleModalNameLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalNameLabel">Modal title</h5>
            <%= simple_form_for(cocktail_within) do |f| %>
              <%= f.input :name %>
              <%= f.submit %>
            <% end %>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <a class="btn btn-success btn-lg font-weight-bold" href=<%= "/cocktails/#{cocktail_within.id}/doses/new" %>>Add an Ingredient</a>
  </div>
</div>
