<div class="banner-show" style="background-image: linear-gradient(rgba(32,0,0,0.6), rgba(0,0,0,0.4)),
                                url(<%= cl_image_path(cocktail_within.photo.key) if cocktail_within.photo.attached? %>);">
  <div class="container pt-3">
    <!-- Button trigger modal -->
    <div class="title_and_edit_button  d-flex justify-content-center">
      <h1 id="banana" style="margin-bottom: 30px;"><%= cocktail_within.name %></h1>
        <button type="button" style=" border: none; background-color: #f4f4f400;" class="edit-img d-flex" data-toggle="modal" data-target="#exampleModalName">
      <div id="edit-button-border">
          <%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1603653847/Mr%20Cocktail%20icons/edit_rfn5xg.svg", class: "edit-button-img", alt: "alttext" %>
        <p>Edit</p>
      </div>
        </button>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalName" tabindex="-1" role="dialog" aria-labelledby="exampleModalNameLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalNameLabel">Edit Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for(cocktail_within) do |f| %>
              <%= f.input :name %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Update Name', class: "btn btn-primary"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
