<%= render 'shared/banner'%>
<div class="container text-center">
<h1 class="m-4 d-flex">Cocktails</h1>
<%= render 'shared/search_bar'%>


</div>
<h2>Top 10 Cocktails</h2>
<div class="container"><i class="thumb-list-toggle fas fa-th-list"></i><i class="thumb-list-toggle fas fa-th-large"></i></div>
<div class="container"><%= link_to 'Non-Alcoholic', cocktails_path({"alcoholic"=>"false"}) %><i style="font-size: 20px;" class="fas fa-wine-glass-alt"></i><p>Alcoholic?</p></div>
<div class="container"><%= link_to 'Non-Alcoholic', cocktails_path(query: 'true') %><i style="font-size: 20px;" class="fas fa-wine-glass-alt"></i><p>Alcoholic?</p></div>
<div class="container">
  <div class="row justify-content-around">
    <% @cocktails.each do |cocktail| %>
      <%= render 'shared/card', cocktail_within: cocktail%>
    <% end %>
  </div>
</div>
