<%= render 'shared/banner'%>
<div class="container">
<section id="cocktails_section">
  <% if params[:display].present? && params[:display] == "list"  %>
  <div class="whole_encilada">
  <p class="toggle-name">Show Grid</p>
  <form class="whole_encilada text-right mt-3 mb-3" action="/" accept-charset="UTF-8" method="get">
   <button class="thumb-toggle text-right" type="submit" value="Grid"><%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1603790759/Mr%20Cocktail%20icons/pieces_cb03dx.svg", class: "thumb-list-toggle", alt: "alttext" %></button>
  </form>
</div>

  <div class="container text-center">
      <div data-controller="infinite-scroll">
        <div class="text-center" data-target="infinite-scroll.entries">
        <%= render "./cocktails/render_cocktails_list" %>
        </div>

        <div data-target="infinite-scroll.pagination">
          <%== pagy_nav(@pagy) %>
        </div>
    </div>
  </div>
  <% else %>
  <div class="whole_encilada">
  <p class="toggle-name">Show List</p>
  <form class="text-right mt-3 mb-3" action="/" accept-charset="UTF-8" method="get">
    <button class="thumb-toggle text-right" type="submit" name="display" value="list"><%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1603790764/Mr%20Cocktail%20icons/grid_afd6y9.svg", style: "transform: rotate(90deg)", class: "thumb-list-toggle", alt: "alttext" %></button>
  </form>
  </div>
  <div class="container text-center">
      <div data-controller="infinite-scroll">
        <div data-target="infinite-scroll.entries">
        <%= render "./cocktails/render_cocktails" %>
        </div>

        <div data-target="infinite-scroll.pagination">
          <%== pagy_nav(@pagy) %>
        </div>
    </div>
  </div>
  <% end %>
</section>
</div >
icons by Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
