<%= render 'shared/banner'%>
<div class="container text-center">
<h1 class="m-4 d-flex">Cocktails</h1>
<%= render 'shared/search_bar'%>


</div>
<div class="container"><i class="thumb-list-toggle fas fa-th-list"></i><i class="thumb-list-toggle fas fa-th-large"></i></div>
<div class="container">
<h2>Top 10 Cocktails</h2>



<% if params[:display].present? && params[:display] == "list"  %>
<form action="/" accept-charset="UTF-8" method="get">
  <input type="submit"value="Grid" class="btn btn-primary" data-disable-with="Grid">
</form>

<div class="container">
    <div data-controller="infinite-scroll">
      <div data-target="infinite-scroll.entries">
      <%= render "./cocktails/render_cocktails_list" %>
      </div>

      <div data-target="infinite-scroll.pagination">
        <%== pagy_nav(@pagy) %>
      </div>
  </div>
</div>
<% else %>
<form action="/" accept-charset="UTF-8" method="get">
  <input type="submit" name="display" value="list" class="btn btn-primary" data-disable-with="List">
</form>
<div class="container">
    <div data-controller="infinite-scroll">
      <div data-target="infinite-scroll.entries">
      <%= render "./cocktails/render_cocktails" %>
      </div>

      <div data-target="infinite-scroll.pagination">
        <%== pagy_nav(@pagy) %>
      </div>
  </div>
</div>
<% end %>

</div>
